/* UiButton.module.css */
.button {
    font-family: var(--font-raleway);
    font-weight: 500;

    font-size: 1rem;
    padding: 0.8em 1.4em;
    border-radius: 0.9em;

    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

/* Variants */
.primary {
    background: var(--color-primary-white);
    color: var(--color-secondary-dark);
}

.primary:hover {
    background: var(--color-secondary-white);
    transform: translateY(-2px);
}

.ghost {
    background: var(--color-secondary-dark);
    color: var(--color-primary-white);
    border: 1px solid var(--color-secondary-white);

}

.ghost:hover {
    background: transparent;
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}