/* Navbar.module.css */


.navbar {
    padding: 1em 0em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(0,0,0,0.7);

    border: dashed yellow 3px;

}

/* LEFT */
.left {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    text-decoration: none;
}

.leftlogonavbar {
    width: 2.5rem;
    height: auto;
}

.logo {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary-white);
    letter-spacing: 0.08em;
}

/* CENTER */
.center {
    display: flex;
    gap: 2rem;
}

/* RIGHT */
.right {
    display: flex;
    align-items: center;
}




@media (max-width: 968px) {
    .center {
        display: none;
    }

    .logo {
        font-size: 0.875rem;
    }
}