/*App.module.css*/


/* ANIMATIONS - Imported from index.css */
/* @keyframes fadeInUp is in index.css */
@import url('./index.css');




.pageLayout{

    background: linear-gradient(
        to bottom,
        #000000 0%,
        #000000 70vh,
        #0B0B0B 100%
    );

    padding-top: 2em;

    display: flex;
    flex-direction: column;  /*Stacks children vertically */
    align-items: center;  /*Centers horizontally */
    justify-content: start; /*Centers vertically (optional)*/

    /*control the gap between sections here not using margins!*/
    gap: 2em;
}



/* Box wrapper for each component*/
.container {

    width: min( 90vw, var(--max-main-container-width));

}



.stickyNavbarContainer {
    position: sticky;

    top: 0;
    z-index: 100;
}






